/* About Section */
.about-us {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    .about-us {
        padding:  10px 20px 10px 20px;
    }
}

.about-us h1 {
    font-size: 48px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.about-us h2 {
    font-size: 30px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}
.about-us p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: #555;
    line-height: 1.6;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.stat-box1, .stat-box2 , .stat-box3{
    text-align: center;
}

.stat-box1 h2 {
    font-size: 36px;
    color: #E91E63;
}

.stat-box2 h2 {
    font-size: 36px;
    color: #00dee9;
}

.stat-box3 h2 {
    font-size: 36px;
    color: #000000;
}


.stat-box1 p, .stat-box2 p, .stat-box3 p  {
    font-size: 18px;
    color: #333;
}

/* Feature List */
.feature-list {
    list-style: none;
    max-width: 600px;
    margin: 40px auto;
    text-align: left;
}

.feature-list li {
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}

.feature-list li:before {
    content: '\f00c'; /* Font Awesome check icon */
    font-family: FontAwesome;
    color: #E91E63;
    position: absolute;
    left: 0;
    font-size: 16px;
}

